/*!
 for dashboard jil project
 */

/* Toggle Styles */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
body{
    background-color: #e3e3e3;
    font-family: 'Lucida Grande';
}

.navbar-custom{
    background-color: #505050;
    /*line-height: 60px;*/
    /*height: 60px;*/
    padding-top: 0;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px 10px;
    margin-top: 7px;
    margin-right: 15px;
    margin-bottom: 0px;
    background-image: none;
    /*border: 1px solid white;*/
    /*border-radius: 4px;*/
    /*line-height: 60px;*/
    /*height: 60px;*/
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #ffffff;
}
.navbar-text {
    color: #33BDD5;
    font-family: 'Lucida Grande';
    font-size: 25px;
    font-weight:500;
    height: 20px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left:0px;
}
.navbar-form {
    margin-top: 10px;
}

#logo{
width:53px;
height:30px;
/*margin: 5px 15px 1px;*/
}
#wrapper {
    padding-top: -200px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}
/*background: #63666a;*/
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #63666a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    margin-top:20px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */
#sidebar{
    padding-top: 550px;
    color:#fff;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0 ;
    padding: 0;
    list-style: none;


}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 30px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    background-color: #5a646a;
    color:#fff;

}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    color: #f5e2d6;
}

.sidebar-nav > .sidebar-brand a {
    color: #f5f1ed;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;

    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;

    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.small-box{border-radius:2px;
    position:relative;
    display:block;
    margin-bottom:20px;
    box-shadow:0 1px 1px rgba(0,0,0,0.1)}
.small-box> .inner{padding:10px}
.small-box>.small-box-footer{position:relative;
    text-align:center;
    padding:3px 0;
    color:#fff;
    color:rgba(255,255,255,0.8);
    display:block;
    z-index:10;
    background:rgba(0,0,0,0.1);
    text-decoration:none}
/*.small-box>.small-box-footer:hover{color:#fff;
    background:rgba(0,0,0,0.15)}*/
.small-box h3{font-size:38px;
    font-weight:bold;
    margin:0 0 10px 0;
    white-space:nowrap;
    padding:0}
.small-box p{font-size:15px}
.small-box p>small{display:block;
    color:#f9f9f9;font-size:13px;
    margin-top:5px}
.small-box h3,.small-box p{z-index:5}
.small-box .icon{-webkit-transition:all .3s linear;
    -o-transition:all .3s linear;
    transition:all .3s linear;
    position:absolute;
    top:-10px;
    right:10px;
    z-index:0;
    font-size:70px;
    color:rgba(0,0,0,0.15)}
.small-box:hover{
    text-decoration:none;
    color:#f9f9f9}
/*.small-box:hover .icon{font-size:70px}*/
@media (max-width:767px){.small-box{text-align:center}
    .small-box .icon{display:none}.small-box p{font-size:12px}}
.box{
    position:relative;
    border-radius:3px;
    background:#ffffff;
    border-top:3px solid #d2d6de;
    margin-bottom:20px;
    width:100%;
    box-shadow:0 1px 1px rgba(0,0,0,0.1)}

.bg-aqua{
background-color:#00c0ef;
}
.bg-green{
background-color: #00a65a;
}
.bg-yellow{

background-color: #f39c12;
}
.bg-red{
background-color: #dd4b39;
}
.bg-aqua2{
    background-color:#00c0af;
}
.bg-green2{
    background-color: #00d65a;
}
.bg-yellow2{
    background-color: #a37c12;
}
.bg-red2{
    background-color: #aa4ba9;
}
.bg-aqua3{
    background-color: rgba(0,200,230,0.4);
}
.bg-green3{
    background-color: rgba(0,200,60,0.4);
}
.bg-norm {
    background-color: rgba(200,200,200,0.8);
}

.gi-2x{font-size: 0.75em;}

/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #003a70;
}
@media (max-width:768px){ .footer{position:absolute;width:100%;} }
@media (min-width:768px){ .footer{position:absolute;bottom:0;height:60px;width:100%;}}*/

.ui-grid-cell {
    border: 1px solid rgb(212,212,212);
    color: white;
}
.darkTextGrid .ui-grid-cell {
    border: 1px solid rgb(212,212,212);
    color: black;
}
.ui-grid-cell-focus {
    outline: 0;
    background-color: #b3c4c7;
}

#storeDataGrid{
    height:350px;
}
#suggestionGrid{
    width: 500px;
    height: 200px;
}

/*refresh spinner styles*/
.panel-refresh {
    height:250px;
    position:relative;
}

.refresh-container {
    position:absolute;
    top:0;
    right:0;
    background:rgba(200,200,200,0.25);
    width:100%;
    height:100%;
    display: none;
    text-align:center;
    z-index:4;
}
.refresh-spinner {
    padding: 30px;
    opacity: 0.8;
}

/*conditional colors*/
.excellent {
  color: #00FF00;
}
.good {
    color: #88bb00;
}
.fair {
    color: #FFFF00;
}
.poor {
    color: #FF8800;
}
.terrible {
    color: #FF0000;
}

div[class^="col-"], div[class*=" col-"] {
    padding-top: 4px;
    padding-bottom: 4px;
}
/* Sticky footer styles
-------------------------------------------------- */
/*html {*/
    /*position: relative;*/
    /*min-height: 100%;*/
/*}*/
/*body {*/
    /*/!* Margin bottom by footer height *!/*/
    /*margin-bottom: 40px;*/
/*}*/
/*.footer {*/
    /*/!*position: absolute;*!/*/
    /*/!*bottom: 0px;*!/*/
    /*width: 100%;*/
    /*/!* Set the fixed height of the footer here *!/*/
    /*height: 40px;*/
    /*/!*background-color: #e5e5e5;*!/*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 7px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #33BDD5;
    margin-top: -12px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #bbb;
}

input[type=range]::-moz-range-track {
    height: 7px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #33BDD5;
}

input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

