/* Sticky footer styles
-------------------------------------------------- */
#bottombar {
    height: 50px;
    background-color: #761c19;
    padding-top: 5px;
}

#wrap {
    margin-bottom: 50px;
}

/*/!* Custom page CSS*/
/*-------------------------------------------------- *!/*/
/*/!* Not required for template or sticky footer method. *!/*/

/*body > .container {*/
    /*padding: 60px 15px 0;*/
/*}*/
/*.container .text-muted {*/
    /*margin: 20px 0;*/
/*}*/

/*.footer > .container {*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
/*}*/

/*code {*/
    /*font-size: 80%;*/
/*}*/