<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CAVII ASEMAP</title>

    <link rel="stylesheet" href="css/login.css">

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!--<link rel="stylesheet" href="css/ui-grid.min.css">-->
    <link rel="stylesheet" href="css/ui-grid.css">
    <link rel="stylesheet" href="css/bootstrap_3.3.5.min.css">
    <link rel='stylesheet' href='css/jAlert-v3.css'>
    <!--<link rel='stylesheet' href='css/datepicker.css'>-->
    <link rel="stylesheet" href="css/dashboard.css">
    <!--<link rel="stylesheet" href="css/sticky-footer.css">-->
    <!--<link rel="stylesheet" href="js/plugins/jquery-ui/jquery-ui.css">-->

    <script src="js/plugins/htmlShivNrespond/html5shiv.js"></script>
    <script src="js/plugins/htmlShivNrespond/respond.min.js"></script>
    <script src="js/plugins/jQuery/jquery_1_11_3.min.js"></script>
    <script data-require="angular.js@*" data-semver="1.3.7"
            src="js/plugins/angularjs/angular_1.3.7.js"></script>
    <script data-require="angular-touch@*" data-semver="1.4.0-beta.0"
            src="js/plugins/angularjs/angular-touch_1.4.0_b.js"></script>
    <script src="js/plugins/angularjs/angular-animate_1.4.0.js" data-semver="1.4.0-beta.0"
            data-require="angular-animate@*"></script>
    <script src="js/plugins/ngRoute/angular-route1.2.25.js"></script>
    <script src="js/plugins/uiGrid/csv.js"></script>
    <script src="js/plugins/uiGrid/pdfmake.js"></script>
    <script src="js/plugins/uiGrid/vfs_fonts.js"></script>
    <script src="js/plugins/bootstrapjs/bootstrap_3.3.5.min.js"></script>
    <!--<script src="plugins/uiGrid/ui-grid.min.js"></script>-->
    <script src="js/plugins/uiGrid/ui-grid.js"></script>
    <script src="js/plugins/bootstrapUI/ui-bootstrap-tpls-0.13.4.js"></script>
    <script src="js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/plugins/uiRoute/angular-ui-router.js"></script>

    <script src="js/js_2/highcharts.js"></script>
    <script src="js/js_2/highcharts-more.js"></script>
    <script src="js/js_2/highcharts-3d.js"></script>

    <script src='js/js_2/jAlert-v3.js'></script>
    <script src='js/js_2/jAlert-functions.js'></script>

    <script src="js/js_2/spin.js"></script>
    <script src="js/js_2/spin.min.js"></script>
    <script src="js/cavii_asemap.js"></script>

</head>

<body style="background-color: white">

<nav id="topbar" class="navbar-fixed-top navbar-custom" style="height: 55px">
    <div class="container-fluid" style="padding-top: 10px">
        <div class="row">
            <div class="col-xs-9 text-left">
                <div class="row" style="padding-left: 10px">
                    <img id="logo" src="img/osg_logo.png" style="float: left; margin-top: 5px; margin-right: 10px"/>

                    <div style="overflow: hidden; height: 50px; padding-top: 5px; font-size: 22px; color: #33BDD5">CAVII ASEMAP</div>
                </div>
            </div>

            <div class="col-xs-3 text-right">
                <button id="configure" type="button" class="ion-ios-settings-strong" style="background-color: transparent;
                    color: white; font-size: 30px; height: 45px; line-height: 30px; border-color: transparent"></button>
            </div>
        </div>
    </div>
</nav>

<br/>

<div ng-controller="asemapController">
    <div class="container text-center" style="padding-left: 5px; padding-right: 5px" ng-show="showConfig">
        <div class="row well" style="padding-left: 5px; padding-right: 5px; margin: 5px;">
            <div class="row"
                 style="height: 42px; padding-top: 5px; font-size: 20px; font-weight: bold; color: #33BDD5">
                Trade-off Configuration
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 col-xs-12 control-label"
                           style="text-align: left; height: 42px; padding-top: 5px; font-size: 18px">Question</label>

                    <div class="col-sm-10 col-xs-12">
                        <input type="text" class="form-control"
                               placeholder="Question To Ask" ng-model="question">
                    </div>
                </div>
            </form>

            <form class="form-horizontal" ng-repeat="attr in attributes">
                <div class="form-group">
                    <label class="col-sm-2 col-xs-12 control-label"
                           style="text-align: left; height: 42px; padding-top: 11px; font-size: 14px">{{attr.name}}</label>

                    <div class="col-sm-5 col-xs-6">
                        <input type="text" class="form-control"
                               placeholder="Attribute Description" ng-model="attr.description">
                    </div>
                    <div class="col-sm-5 col-xs-6">
                        <input type="text" class="form-control" placeholder="Image URL"
                               ng-model="attr.imageURL">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-show="showTradeoff">
        <div class="container text-center" style="padding-left: 5px; padding-right: 5px">
            <div class="row" style="margin-left: 5px; margin-right: 5px; font-size: 22px; color: #33BDD5">
                {{question}}
            </div>
            <div class="row" style="margin-left: 5px; margin-right: 5px; font-size: 10px; color: #505050">
                (Use the slider for each pair to adjust the relative importance of the attributes within the pair)
            </div>
        </div>
        <!--<div class="container text-center" ng-repeat="n in [-42, 22, 93, 3, -90, 12, 55, 100] track by $index">-->
        <div class="container text-center" ng-repeat="n in tradeoffPairs" style="padding-left: 5px; padding-right: 5px">
            <div class="row well" style="padding: 5px; margin: 5px;">
                <div class="col-xs-3" align="center" style="padding: 0px">
                    <div style="display: table; height: 90px; overflow: hidden; text-align: center">
                        <div style="display: table-cell; vertical-align: middle;">
                            <img src="{{n.leftImage}}" width="auto" height="{{n.leftValue}}">
                        </div>
                    </div>
                    <div style="overflow: hidden; font-size: small; color: #33BDD5">
                        {{n.attrLeftDesc}}
                    </div>
                </div>
                <div class="col-xs-6" style="height: 42px; padding-top: 53px">
                    <input type="range" name="slider" id="slider" min="0" max="11" ng-model="n.value"/>
                </div>
                <div class="col-xs-3" align="center" style="padding: 0px">
                    <div style="display: table; height: 90px; overflow: hidden">
                        <div style="display: table-cell; vertical-align: middle;">
                            <img src="{{n.rightImage}}" width="auto" height="{{n.rightValue}}">
                        </div>
                    </div>
                    <div style="overflow: hidden; font-size: small; color: #33BDD5">
                        {{n.attrRightDesc}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <nav id="bottombar" class="navbar-fixed-bottom navbar-custom" style="height: 40px;">
        <div class="container-fluid">
            <div class="col-xs-4 text-center" style="margin-top: -3px">
                <button id="Reset" type="button" class="ion-refresh" ng-click="resetClicked($event)"
                        style="background-color: transparent; border-color: transparent; color: white; font-size: 25px; height: 40px; line-height: 30px;">
                </button>
            </div>
            <div class="col-xs-4 text-center" style="margin-top: -3px">
                <button id="Results" type="button" class="ion-stats-bars" ng-click="resultsClicked($event)"
                        style="background-color: transparent; border-color: transparent; color: white; font-size: 25px; height: 40px; line-height: 30px;">
                </button>
            </div>
            <div class="col-xs-4 text-center" style="margin-top: -3px">
                <button id="Analyze" type="button" class="ion-arrow-right-b" ng-click="analyzeClicked($event)"
                        style="background-color: transparent; border-color: transparent; color: white; font-size: 25px; height: 40px; line-height: 30px;">
                </button>
            </div>
        </div>
    </nav>

</div>


</body>
</html>